<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <meta charset="utf-8">
  <!-- bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <%- include('./partials/header.ejs')%>
  <h3>My <%=lists[0].name_list%> list</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> Name</th>
        <th cope="col">Date</thscope="col">
        <th scope="col">Category</th>
      </tr>
    </thead>
    <!-- loop inside the object  -->
    <% for(let list in lists) {%>
    <tr>
      <td><%= lists[list].item %></td>
      <td><%= lists[list].date_trunc %></td>
      <td>
        <form method="POST" action="/item/<%=lists[list].id %>">

          <select name="list_id">
            <option value="1">Movies</option>
            <option value="4">Restaurants</option>
            <option value="3">Products</option>
            <option value="2">books</option>
          </select>
          <button type="submit" class="btn btn-primary">update </button>
        </form>
      </td>

    </tr>
    <% }%>
  </table>
</body>
