<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <meta charset="utf-8">
  <!-- bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/scripts/app-list.js"></script>
</head>

<body>
  <%- include('./partials/header.ejs')%>
  <h3>My List</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> Name</th>
        <th cope="col">Date</thscope="col">
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <!-- loop inside the object  -->
    <% for(let list in lists) {%>
    <tr>

      <td><%=  lists[list].item %></td>
      <td><%= lists[list].date_trunc %></td>
      <td><%= lists[list].list_id %></td>

      <td>
        <form method="post" action="/list/<%= lists[list].list_id %><">
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Edit
            </button>
            <div class="dropdown-menu">
              <h3 class="dropdown-header">Move to</h3>
              <a class="dropdown-item" href="/list/2">Book</a>
              <a class="dropdown-item" href="/list/3">Restaurant </a>
              <a class="dropdown-item" href="/list/4">product </a>
              <a class="dropdown-item" href="/list/1"> movie</a>
            </div>
          </div>
        </form>
      </td>
    </tr>
    <% }%>

  </table>
</body>
